<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error de Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="d-flex justify-content-center align-items-center" style="height: 100vh;">

        <div class="alert alert-danger text-center" role="alert">
            <h4 class="alert-heading">Error de Inicio de Sesión</h4>
            <p>El usuario o contraseña que ingresaste no son correctos.</p>
            <a href="/login" class="btn btn-primary">Volver</a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>

