<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login Exitoso</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="d-flex justify-content-center align-items-center" style="height: 100vh;">

        <div class="alert alert-success text-center" role="alert">
            <h4 class="alert-heading">¡Inicio de Sesión Exitoso!</h4>
            <p>Has ingresado correctamente como administrador.</p>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>

